<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>忘记密码</title>
    {% include "quote.html" %}
</head>

<body>
    {% include "nav.html" %}
    <div class="container">
        <div class="row mt-5 pt-5"></div>
        <div class="row justify-content-center" style="height: 75vh;">
            <div class="card" style="width: 500px;">
                <div class="card-body">
                    <div class="tips"></div>
                    <form onsubmit="return submit_pass(this)">
                        <div class="form-group">
                            <label for="#new-pass">新的密码：</label>
                            <input type="password" class="form-control" id="new-pass" name="password">
                        </div>
                        <div class="form-group">
                            <label for="#repeat-pass">重复新的密码：</label>
                            <input type="password" class="form-control" id="repeat-pass" name="repeat">
                        </div>
                        <button class="btn btn-block btn-primary" type="submit">提交</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) { return pair[1]; }
            }
            return (false);
        }
        function submit_pass(form) {
            var tips = document.querySelector("div.tips");
            tips.innerHTML = '';
            var token = getQueryVariable('token');
            if (!token) {
                alert("当前页面的URL有误，请检查是否正确！");
            }
            var passwd;
            with (form) {
                if (password.value.length < 8) {
                    var div = document.createElement("div");
                    div.classList.add("alert");
                    div.classList.add("alert-danger");
                    div.innerText = '密码的长度小于8！';
                    tips.appendChild(div);
                    return false;
                } else if (password.value != repeat.value) {
                    var div = document.createElement("div");
                    div.classList.add("alert");
                    div.classList.add("alert-danger");
                    div.innerText = '两次输入的密码不一致！';
                    tips.appendChild(div);
                    return false;
                }
                passwd = password.value;
            }
            var url = 'http://' + document.domain + ':8000/user/passReset';
            var request = new XMLHttpRequest();
            request.onreadystatechange = function () {
                if (request.readyState == 4) {
                    var div = document.createElement("div");
                    div.classList.add("alert");
                    if (request.status != 200) {
                        div.classList.add("alert-danger");
                        div.innerText = request.responseText;
                        tips.appendChild(div);
                    } else {
                        div.classList.add("alert-success");
                        div.innerText = request.responseText;
                        tips.appendChild(div);
                        setTimeout(() => {
                            window.location.href = '/';
                        }, 1000);
                    }
                }
            }
            var data = 'new_pass=' + passwd + "&token=" + encodeURIComponent(token);
            request.open('POST', url, true);
            request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            request.send(data);
            return false;
        }
    </script>
    {% include "footer.html" %}
</body>

</html>