<!doctype html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta name="description" content="自营书屋，啥都有">
    <meta name="keywords" content="书屋">
    <title>阳光书屋</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <style>
        #nav-tab a{
            padding-right: 0;
            padding-left: 0;
        }
        .classify{
            padding-right: 0;
            padding-left: 0;
        }
        .carousel-item img{
            width: 354px;
            height: 502px;
        }
        .row > .card{
            height: 200px;
            margin-top: 21px;
            margin-bottom: 21px;
        }
    </style>
</head>

<body class="bg-light">
    <!--这儿需要用模板include导航栏文件nav_guest.html-->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
        <a class="navbar-brand" href="/index.html"><i class="fas fa-sun" style="font-size:28px"></i> 阳光书屋</a>
        <ul class="navbar-nav mr-auto">

            <li class="nav-item"><a class="nav-link active" href="#" data-toggle="modal" data-target="#signInModel">登录</a>
            </li>
            <li class="nav-item"><a class="nav-link active" href="#" data-toggle="modal" data-target="#signUpModel">注册</a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0" method="get">
            <input class="form-control " type="search" name="search-content" placeholder="图书搜索">
            <button class="btn btn-outline-dark my-2 my-sm-0 " type="submit"><i class="fas fa-search"></i></button>
        </form>

        <!-- 登录界面 -->
        <div class="modal fade" id="signInModel" tabindex="-1" role="dialog" aria-labelledby="signin" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">登录</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="username">用户名</label>
                                <input type="text" class="form-control" id="username" placeholder="用户名">
                            </div>
                            <div class="form-group">
                                <label for="pw">密码</label>
                                <input type="password" class="form-control" id="pw" aria-describedby="forgetpw"
                                    placeholder="密码">
                                <samll class="form-text text-muted" id="forgetpw"><a href="#">忘记密码？</a></samll>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">登录</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- 注册界面 -->
        <div class="modal fade" id="signUpModel" tabindex="-1" role="dialog" aria-labelledby="signup" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">注册</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form onsubmit="return reg_verify(this)">
                        <div class="modal-body register-tips">
                            <div class="form-group">
                                <label for="e-mail">邮箱</label>
                                <input type="email" id="e-mail" class="form-control" name="email" aria-describedby="emailHelp"
                                    placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">邮箱在忘记密码时使用</small>
                            </div>
                            <div class="form-group">
                                <label for="reg-username">用户名</label>
                                <input type="text" class="form-control" id="reg-username" name="username">
                            </div>
                            <div class="form-group">
                                <label for="reg-pw">密码</label>
                                <input type="password" class="form-control" id="reg-pw" name="password">
                            </div>
                            <div class="form-group">
                                <label for="pw-confirm">确认密码</label>
                                <input type="password" class="form-control" id="pw-confirm" name="confirm">
                            </div>
                            <div class="form-group" style="padding-left: 1.25rem">
                                <input class="form-check-input" id="agree" type="checkbox" name="agree">
                                <label class="form-check-label" for="agree">
                                    我同意<a href="javascript:alert('没有用户协定，直接勾选即可。\\调皮')">用户协定</a>
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">注册</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            function reg_verify(form) {
                console.log("into function");
                with (form) {
                    if (!agree.checked) {
                        var tips = document.createElement("div");
                        tips.classList.add("alert");
                        tips.classList.add("alert-danger");
                        tips.innerText = "请在注册之前先同意用户协定！";
                        console.log("into flase");
                        document.querySelector(".register-tips").appendChild(tips);
                        return false;
                    }
                }
                return true;
            }
        </script>

    </nav>
    <div class="container pt-2" style="margin-top: 60px">
        <div class="row justify-content-center">
            <div class="col-11 h3" style="margin-top: 16px">一周精选</div>
        </div>
        <div class="row justify-content-center pt-2">
            <hr class="col-11" style="height: 10px; margin-top: 0">
        </div>
        <!--轮播图-->
        <div class="row justify-content-center pt-2">
            <div id="carouselIntroduce" class="carousel slide col-4" data-ride="carousel">
                <ol class="carousel-indicators" data-interval="500">
                    <li data-target="#carouselIntroduce" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselIntroduce" data-slide-to="1"></li>
                    <li data-target="#carouselIntroduce" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">


                    <div class="carousel-item active">

                        <img src="https://img1.doubanio.com/view/subject/m/public/s28735609.jpg" alt="1" referrerpolicy="never">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="text-nowrap text-truncate">机器学习</h5>
                            <p class="text-nowrap text-truncate">机器学习是计算机科学与人工智能的重要分支领域.
                                本书作为该领域的入门教材，在内容上尽可能涵盖机器学习基础知识的各方面。 为了使尽可能多的读者通过本书对机器学习有所了解, 作者试图尽可能少地使用数学知识. 然而,
                                少量的概率、统计、代数、优化、逻辑知识似乎不可避免. 因此, 本书更适合大学三年级以上的理工科本科生和研究生, 以及具有类似背景的对机器学 习感兴趣的人士. 为方便读者,
                                本书附录给出了一些相关数学基础知识简介.
                                全书共16 章，大致分为3 个部分：第1 部分（第1～3 章）介绍机器学习的基础知识；第2 部分（第4～10
                                章）讨论一些经典而常用的机器学习方法（决策树、神经网络、支持向量机、贝叶斯分类器、集成学习、聚类、降维与度量学习）；第3 部分（第11～16
                                章）为进阶知识，内容涉及特征选择与稀疏学习、计算学习理论、半监督学习、概率图模型、规则学习以及强化学习等.前3章之外的后续各章均相对独立,
                                读者可根据自己的兴趣和时间情况选择使用. 根据课时情况, 一个学期的本科生课程可考虑讲授前9章或前10章; 研究生课程则不妨使用全书.
                                书中除第1章外, 每章都给出了十道习题. 有的习题是帮助读者巩固本章学习, 有的是为了引导读者扩展相关知识. 一学期的一般课程可使用这些习题,
                                再辅以两到三个针对具体数据集的大作业. 带星号的习题则有相当难度, 有些并无现成答案, 谨供富有进取心的读者启发思考.
                                本书可作为高等院校计算机、自动化及相关专业的本科生或研究生教材，也可供对机器学习感兴趣的研究人员和工程技术人员阅读参考。</p>
                        </div>
                    </div>


                    <div class="carousel-item">

                        <img src="https://img3.doubanio.com/view/subject/m/public/s1470003.jpg" alt="2" referrerpolicy="never">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="text-nowrap text-truncate">深入理解计算机系统</h5>
                            <p class="text-nowrap text-truncate">从程序员的视角，看计算机系统！
                                本书适用于那些想要写出更快、更可靠程序的程序员。通过掌握程序是如何映射到系统上，以及程序是如何执行的，读者能够更好的理解程序的行为为什么是这样的，以及效率低下是如何造成的。粗略来看，计算机系统包括处理器和存储器硬件、编译器、操作系统和网络互连环境。而通过程序员的视角，读者可以清晰地明白学习计算机系统的内部工作原理会对他们今后作为计算机科学研究者和工程师的工作有进一步的帮助。它还有助于为进一步学习计算机体系结构、操作系统、编译器和网络互连做好准备。
                                本书的主要论题包括：数据表示、C程序的机器级表示、处理器结构，程序优化、存储器层次结构、链接、异常控制流、虚拟存储器和存储器管理、系统级I/O、网络编程和并发编程。书中所覆盖的内容主要是这些方面是如何影响应用和系统程序员的。例如，在讲述数据表示时，本书说明了用来表示数字的表示方法是有限的，它能够近似地表示整数和实数，但是这种表示方法是有限制的，程序员必须了解。在讲述高速缓存时，本书讨论了矩阵代码中的循环变量的顺序是如何影响程序的性能的。在讨论网络互连时，本书描述了并发服务器如何能有效地处理来自多个客户端的请求。
                                本书基于Intel兼容（IA32）机器，在Unix或者相关的操作系统（例如，Linux）上执行C程序。虽然书中包括了一些帮助读者将Java转化成C的提示，但是还是要求读者对C或者C++有一定的了解。
                                您可以通过本书的Web网站www.csapp.cs.cmu.edu获得完整的资料，包括实验和作业，授课笔记和代码示例。
                                本书英文版久负盛名，被众多专业人士称为“最伟大的计算机教材”之一，著名的美国卡内基梅隆大学计算机科学系一直将本书作为教材使用，程序员眼中的透彻讲述计算机系统的扛鼎之作。作者Randal
                                E. Bryant是卡耐基梅隆大学的计算机科学系主任，ACM和IEEE双院士（Fellow），其研究成果多次获得ACM和IEEE颁发的大奖。
                                本书共分十三章，分别介绍了信息的表示和处理、程序的机器级表示、处理器体系结构、存储器层次结构、静态和动态链接、虚拟存储器、系统级I/O、网络编程和并发编程等精彩内容。其目的是解释计算机系统的所有本质概念，并向读者展示这些概念是如何实际地影响应用程序的正确性、性能和实用性。与其他主要针对系统构造人员的系统类书籍不同，这本书是写给程序员的，是从程序员的角度来描述的。本书为软件和硬件之间搭起了一个桥梁，它给出了一种帮助读者分别从硬件和软件的角度去理解一个程序及其行为的途径，这也填补了国内计算机系统教学中的一个空白。本书的最大优点是帮助读者理解概念，让读者很清楚地在脑海中构造一个层次型的计算机系统，从最低层数据在内存中的表示（如我们一直陌生的浮点数表示），到流水线指令的构成，到虚拟存储器，到编译系统，到动态加载库，到最后的用户应用。
                                本书提供了大量的例子和练习及部分答案。尤其值得一提的是，对于每一个基本概念都有相应的笔头或程序试验，加深读者的理解。</p>
                        </div>
                    </div>


                    <div class="carousel-item">

                        <img src="https://img3.doubanio.com/view/subject/m/public/s4510534.jpg" alt="3" referrerpolicy="never">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="text-nowrap text-truncate">深入理解计算机系统（原书第2版）</h5>
                            <p class="text-nowrap text-truncate">本书从程序员的视角详细阐述计算机系统的本质概念，并展示这些概念如何实实在在地影响应用程序的正确性、性能和实用性。全书共12章，主要内容包括信息的表示和处理、程序的机器级表示、处理器体系结构、优化程序性能、存储器层次结构、链接、异常控制流、虚拟存储器、系统级I/O、网络编程、并发编程等。书中提供大量的例子和练习，并给出部分答案，有助于读者加深对正文所述概念和知识的理解。
                                本书的最大优点是为程序员描述计算机系统的实现细节，帮助其在大脑中构造一个层次型的计算机系统，从最底层的数据在内存中的表示到流水线指令的构成，到虚拟存储器，到编译系统，到动态加载库，到最后的用户态应用。通过掌握程序是如何映射到系统上，以及程序是如何执行的，读者能够更好地理解程序的行为为什么是这样的，以及效率低下是如何造成的。
                                本书适合那些想要写出更快、更可靠程序的程序员阅读，也适合作为高等院校计算机及相关专业本科生、研究生的教材。</p>
                        </div>
                    </div>

                </div>
                <a class="carousel-control-prev" href="#carouselIntroduce" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselIntroduce" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="col-8">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="col-4">
                            <div class="card border border-secondary rounded px-3 pt-1">
                                <img width="179px" height="207px" class="card-img-top" src="https://img1.doubanio.com/view/subject/s/public/s28735609.jpg"
                                    alt="Card image cap" referrerpolicy="never">
                                <div class="card-body" style="padding-left: 0; padding-right: 0;">
                                    <div class="card-text text-truncate">机器学习是计算机科学与人工智能的重要分支领域.
                                        本书作为该领域的入门教材，在内容上尽可能涵盖机器学习基础知识的各方面。 为了使尽可能多的读者通过本书对机器学习有所了解, 作者试图尽可能少地使用数学知识.
                                        然而, 少量的概率、统计、代数、优化、逻辑知识似乎不可避免. 因此, 本书更适合大学三年级以上的理工科本科生和研究生, 以及具有类似背景的对机器学
                                        习感兴趣的人士. 为方便读者, 本书附录给出了一些相关数学基础知识简介.
                                        全书共16 章，大致分为3 个部分：第1 部分（第1～3 章）介绍机器学习的基础知识；第2 部分（第4～10
                                        章）讨论一些经典而常用的机器学习方法（决策树、神经网络、支持向量机、贝叶斯分类器、集成学习、聚类、降维与度量学习）；第3 部分（第11～16
                                        章）为进阶知识，内容涉及特征选择与稀疏学习、计算学习理论、半监督学习、概率图模型、规则学习以及强化学习等.前3章之外的后续各章均相对独立,
                                        读者可根据自己的兴趣和时间情况选择使用. 根据课时情况, 一个学期的本科生课程可考虑讲授前9章或前10章; 研究生课程则不妨使用全书.
                                        书中除第1章外, 每章都给出了十道习题. 有的习题是帮助读者巩固本章学习, 有的是为了引导读者扩展相关知识. 一学期的一般课程可使用这些习题,
                                        再辅以两到三个针对具体数据集的大作业. 带星号的习题则有相当难度, 有些并无现成答案, 谨供富有进取心的读者启发思考.
                                        本书可作为高等院校计算机、自动化及相关专业的本科生或研究生教材，也可供对机器学习感兴趣的研究人员和工程技术人员阅读参考。</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card border border-secondary rounded px-3 pt-1">
                                <img width="179px" height="207px" class="card-img-top" src="https://img3.doubanio.com/view/subject/s/public/s1470003.jpg"
                                    alt="Card image cap" referrerpolicy="never">
                                <div class="card-body" style="padding-left: 0; padding-right: 0;">
                                    <div class="card-text text-truncate">从程序员的视角，看计算机系统！
                                        本书适用于那些想要写出更快、更可靠程序的程序员。通过掌握程序是如何映射到系统上，以及程序是如何执行的，读者能够更好的理解程序的行为为什么是这样的，以及效率低下是如何造成的。粗略来看，计算机系统包括处理器和存储器硬件、编译器、操作系统和网络互连环境。而通过程序员的视角，读者可以清晰地明白学习计算机系统的内部工作原理会对他们今后作为计算机科学研究者和工程师的工作有进一步的帮助。它还有助于为进一步学习计算机体系结构、操作系统、编译器和网络互连做好准备。
                                        本书的主要论题包括：数据表示、C程序的机器级表示、处理器结构，程序优化、存储器层次结构、链接、异常控制流、虚拟存储器和存储器管理、系统级I/O、网络编程和并发编程。书中所覆盖的内容主要是这些方面是如何影响应用和系统程序员的。例如，在讲述数据表示时，本书说明了用来表示数字的表示方法是有限的，它能够近似地表示整数和实数，但是这种表示方法是有限制的，程序员必须了解。在讲述高速缓存时，本书讨论了矩阵代码中的循环变量的顺序是如何影响程序的性能的。在讨论网络互连时，本书描述了并发服务器如何能有效地处理来自多个客户端的请求。
                                        本书基于Intel兼容（IA32）机器，在Unix或者相关的操作系统（例如，Linux）上执行C程序。虽然书中包括了一些帮助读者将Java转化成C的提示，但是还是要求读者对C或者C++有一定的了解。
                                        您可以通过本书的Web网站www.csapp.cs.cmu.edu获得完整的资料，包括实验和作业，授课笔记和代码示例。
                                        本书英文版久负盛名，被众多专业人士称为“最伟大的计算机教材”之一，著名的美国卡内基梅隆大学计算机科学系一直将本书作为教材使用，程序员眼中的透彻讲述计算机系统的扛鼎之作。作者Randal
                                        E. Bryant是卡耐基梅隆大学的计算机科学系主任，ACM和IEEE双院士（Fellow），其研究成果多次获得ACM和IEEE颁发的大奖。
                                        本书共分十三章，分别介绍了信息的表示和处理、程序的机器级表示、处理器体系结构、存储器层次结构、静态和动态链接、虚拟存储器、系统级I/O、网络编程和并发编程等精彩内容。其目的是解释计算机系统的所有本质概念，并向读者展示这些概念是如何实际地影响应用程序的正确性、性能和实用性。与其他主要针对系统构造人员的系统类书籍不同，这本书是写给程序员的，是从程序员的角度来描述的。本书为软件和硬件之间搭起了一个桥梁，它给出了一种帮助读者分别从硬件和软件的角度去理解一个程序及其行为的途径，这也填补了国内计算机系统教学中的一个空白。本书的最大优点是帮助读者理解概念，让读者很清楚地在脑海中构造一个层次型的计算机系统，从最低层数据在内存中的表示（如我们一直陌生的浮点数表示），到流水线指令的构成，到虚拟存储器，到编译系统，到动态加载库，到最后的用户应用。
                                        本书提供了大量的例子和练习及部分答案。尤其值得一提的是，对于每一个基本概念都有相应的笔头或程序试验，加深读者的理解。</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card border border-secondary rounded px-3 pt-1">
                                <img width="179px" height="207px" class="card-img-top" src="https://img3.doubanio.com/view/subject/s/public/s4510534.jpg"
                                    alt="Card image cap" referrerpolicy="never">
                                <div class="card-body" style="padding-left: 0; padding-right: 0;">
                                    <div class="card-text text-truncate">本书从程序员的视角详细阐述计算机系统的本质概念，并展示这些概念如何实实在在地影响应用程序的正确性、性能和实用性。全书共12章，主要内容包括信息的表示和处理、程序的机器级表示、处理器体系结构、优化程序性能、存储器层次结构、链接、异常控制流、虚拟存储器、系统级I/O、网络编程、并发编程等。书中提供大量的例子和练习，并给出部分答案，有助于读者加深对正文所述概念和知识的理解。
                                        本书的最大优点是为程序员描述计算机系统的实现细节，帮助其在大脑中构造一个层次型的计算机系统，从最底层的数据在内存中的表示到流水线指令的构成，到虚拟存储器，到编译系统，到动态加载库，到最后的用户态应用。通过掌握程序是如何映射到系统上，以及程序是如何执行的，读者能够更好地理解程序的行为为什么是这样的，以及效率低下是如何造成的。
                                        本书适合那些想要写出更快、更可靠程序的程序员阅读，也适合作为高等院校计算机及相关专业本科生、研究生的教材。</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center mt-3 pt-1">
                        <div class="col-3">
                            <div class="card border border-secondary rounded px-3 pt-1">
                                <img width="118px" height="137px" class="card-img-top" src="https://img1.doubanio.com/view/subject/s/public/s28735609.jpg"
                                    alt="Card image cap" referrerpolicy="never">
                                <div class="card-body" style="padding-left: 0; padding-right: 0;">
                                    <div class="card-text text-truncate">机器学习是计算机科学与人工智能的重要分支领域.
                                        本书作为该领域的入门教材，在内容上尽可能涵盖机器学习基础知识的各方面。 为了使尽可能多的读者通过本书对机器学习有所了解, 作者试图尽可能少地使用数学知识.
                                        然而, 少量的概率、统计、代数、优化、逻辑知识似乎不可避免. 因此, 本书更适合大学三年级以上的理工科本科生和研究生, 以及具有类似背景的对机器学
                                        习感兴趣的人士. 为方便读者, 本书附录给出了一些相关数学基础知识简介.
                                        全书共16 章，大致分为3 个部分：第1 部分（第1～3 章）介绍机器学习的基础知识；第2 部分（第4～10
                                        章）讨论一些经典而常用的机器学习方法（决策树、神经网络、支持向量机、贝叶斯分类器、集成学习、聚类、降维与度量学习）；第3 部分（第11～16
                                        章）为进阶知识，内容涉及特征选择与稀疏学习、计算学习理论、半监督学习、概率图模型、规则学习以及强化学习等.前3章之外的后续各章均相对独立,
                                        读者可根据自己的兴趣和时间情况选择使用. 根据课时情况, 一个学期的本科生课程可考虑讲授前9章或前10章; 研究生课程则不妨使用全书.
                                        书中除第1章外, 每章都给出了十道习题. 有的习题是帮助读者巩固本章学习, 有的是为了引导读者扩展相关知识. 一学期的一般课程可使用这些习题,
                                        再辅以两到三个针对具体数据集的大作业. 带星号的习题则有相当难度, 有些并无现成答案, 谨供富有进取心的读者启发思考.
                                        本书可作为高等院校计算机、自动化及相关专业的本科生或研究生教材，也可供对机器学习感兴趣的研究人员和工程技术人员阅读参考。</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card border border-secondary rounded px-3 pt-1">
                                <img width="118px" height="137px" class="card-img-top" src="https://img3.doubanio.com/view/subject/s/public/s3792001.jpg"
                                    alt="Card image cap" referrerpolicy="never">
                                <div class="card-body" style="padding-left: 0; padding-right: 0;">
                                    <div class="card-text text-truncate">《明朝那些事儿》讲述从1344年到1644年，明朝三百年间的历史。作品以史料为基础，以年代和具体人物为主线，运用小说的笔法，对明朝十七帝和其他王公权贵和小人物的命运进行全景展示，尤其对官场政治、战争、帝王心术着墨最多。作品也是一部明朝政治经济制度、人伦道德的演义。</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card border border-secondary rounded px-3 pt-1">
                                <img width="118px" height="137px" class="card-img-top" src="https://img1.doubanio.com/view/subject/s/public/s29399938.jpg"
                                    alt="Card image cap" referrerpolicy="never">
                                <div class="card-body" style="padding-left: 0; padding-right: 0;">
                                    <div class="card-text text-truncate">《明朝那些事儿》这篇文主要讲述的是从1344年到1644年这三百年间关于明朝的一些事情，以史料为基础，以年代和具体人物为主线，并加入了小说的笔法，对明朝十七帝和其他王公权贵和小人物的命运进行全景展示，尤其对官场政治、战争、帝王心术着墨最多，并加入对当时政治经济制度、人伦道德的演义。</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="card border border-secondary rounded px-3 pt-1">
                                <img width="118px" height="137px" class="card-img-top" src="https://img3.doubanio.com/view/subject/s/public/s4428714.jpg"
                                    alt="Card image cap" referrerpolicy="never">
                                <div class="card-body" style="padding-left: 0; padding-right: 0;">
                                    <div class="card-text text-truncate">自永乐夺位的“靖难之役”后开始，先叙述了中国历史上赫赫有名的永乐大帝事迹——挥军北上五征蒙古，派郑和七下西洋，南下讨平安南等等，后来永乐于北伐蒙古归来途中病逝。明朝在经历了比较清明的“仁宣之治”后，开始进入动荡时期。大宦官王振把持朝政胡作非为，导致二十万精兵丧于一旦，幸亏著名忠臣于谦在“土木堡之变”中力挽狂澜，挽救了明帝国，但随即又在两位皇帝争夺皇位的“夺门之变”后被害身亡。</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center pt-2">
            <div class="col-11 h3" style="margin-top: 16px">分类</div>
        </div>
        <div class="row justify-content-center pt-2">
            <hr class="col-11" style="height: 10px; margin-top: 0">
        </div>
        <div class="row justify-content-center pt-2">
            <nav class="col-2 classify bg-primary border border-secondary border-right-0 rounded-left">
                <div class="nav flex-column" id="nav-tab-left" style="text-align:center" role="tablist">
                    <a class="nav-link active text-dark bg-white" id="nav-lect-tab" data-toggle="tab" href="#nav-lect"
                        role="tab" aria-controls="nav-home" aria-selected="true">文学</a>
                    <a class="nav-link text-dark" id="nav-pop-tab" data-toggle="tab" href="#nav-pop" role="tab"
                        aria-controls="nav-profile" aria-selected="false">流行</a>
                    <a class="nav-link text-dark" id="nav-cur-tab" data-toggle="tab" href="#nav-cur" role="tab"
                        aria-controls="nav-contact" aria-selected="false">文化</a>
                    <a class="nav-link text-dark" id="nav-life-tab" data-toggle="tab" href="#nav-life" role="tab"
                        aria-controls="nav-home" aria-selected="true">生活</a>
                    <a class="nav-link text-dark" id="nav-eco-tab" data-toggle="tab" href="#nav-eco" role="tab"
                        aria-controls="nav-profile" aria-selected="false">经管</a>
                    <a class="nav-link text-dark" id="nav-tec-tab" data-toggle="tab" href="#nav-tec" role="tab"
                        aria-controls="nav-profile" aria-selected="false">科技</a>
                </div>
            </nav>
            <div class="col-10 tab-content border border-secondary border-left-0 rounded-right" id="nav-tabContent-middle">
                <div class="tab-pane show active container" id="nav-lect" role="tabpanel" aria-labelledby="nav-lect-tab">
                    <div class="row justify-content-center align-middle">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to
                                    additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane container" id="nav-pop" role="tabpanel" aria-labelledby="nav-pop-tab">
                    <div class="row justify-content-center align-middle">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to
                                    additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane container" id="nav-cur" role="tabpanel" aria-labelledby="nav-cur-tab">
                    <div class="row justify-content-center">
                        <div class="card col-2 mx-2">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to
                                    additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card col-2 mx-2">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to
                                    additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card col-2 mx-2">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to
                                    additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card col-2 mx-2">
                            <div class="card-body">
                                <h5 class="card-title font-weight-bold">机器学习</h5>
                                <p class="card-text">机器学习是计算机科学与人工智能的重要分支领域
                                    content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                        <div class="card col-2 mx-2">
                            <div class="card-body">
                                <h5 class="card-title">机器学习</h5>
                                <p class="card-text">机器学习是计算机科学与人工智能的重要分支领域
                                    content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane container" id="nav-life" role="tabpanel" aria-labelledby="nav-life-tab">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to
                                    additional
                                    content.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane container" id="nav-eco" role="tabpanel" aria-labelledby="nav-eco-tab">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to
                                    additional
                                    content.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane container" id="nav-tec" role="tabpanel" aria-labelledby="nav-tec-tab">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to
                                    additional
                                    content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row justify-content-center pt-2">
        <div class="col-11 h3" style="margin-top: 16px">浏览</div>
    </div>
    <div class="row justify-content-center pt-2">
        <hr class="col-11" style="height: 10px; margin-top: 0">
    </div>
    <div class="row pt-2 justify-content-center">
        <div class="col-9">
            <div class="tab-content page-content">
                <div class="tab-pane fade show active" id="page1" role="tabpanel" aria-labelledby="page1-tab">
                    123
                </div>
                <div class="tab-pane fade" id="page2" role="tabpanel" aria-labelledby="page2-tab">
                    1121213
                </div>
                <div class="tab-pane fade" id="page3" role="tabpanel" aria-labelledby="page3-tab">
                    456
                </div>
                <div class="tab-pane fade" id="page4" role="tabpanel" aria-labelledby="page4-tab">
                    789
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2 mb-4">
        <div class="col-11">
            <ul class="nav pagination justify-content-end Page navigation" id="v-pills-tab" role="tablist"
                aria-orientation="vertical">
                <li class="page-item prev-page">
                    <a class="page-link" aria-label="Previous">
                        <small><i class="fa fa-arrow-left" aria-hidden="true"></i></small>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="nav-item page-item">
                    <a class="nav-link page-link text-dark  bg-primary" id="page1-tab" data-toggle="pill" href="#page1"
                        role="tab" aria-controls="page1" aria-selected="true">1</a>
                </li>
                <li class="nav-item page-item">
                    <a class="nav-link page-link text-dark " id="page2-tab" data-toggle="pill" href="#page2" role="tab"
                        aria-controls="page2" aria-selected="false">2</a>
                </li>
                <li class="nav-item page-item">
                    <a class="nav-link page-link text-dark " id="page3-tab" data-toggle="pill" href="#page3" role="tab"
                        aria-controls="page3" aria-selected="false">3</a>
                </li>
                <li class="nav-item page-item">
                    <a class="nav-link page-link text-dark " id="page4-tab" data-toggle="pill" href="#page4" role="tab"
                        aria-controls="page4" aria-selected="false">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" id="more-book" href="/search">...</a>
                </li>
                <li class="page-item next-page">
                    <a class="page-link" aria-label="Next">
                        <small><i class="fa fa-arrow-right" aria-hidden="true"></i></small>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <footer class="text-center bg-primary">
        <span>powered by GlassyYang</span>
    </footer>
    <script type="text/javascript" zIndex="-100" opacity="0.7" src="https://cdn.bootcss.com/canvas-nest.js/2.0.3/canvas-nest.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.carousel').carousel({
                interval: 4000
            }).carousel("cycle");
            $('#nav-tab-left a').hover(function () {
                $('#nav-tab-left a').removeClass("bg-white");
                $(this).addClass("bg-white");
                $(this).tab('show');
            });
            $("li.prev-page a").click(function () {
                var active = $(".page-content .show");
                var id = active.attr("id");
                var prev = +id.substring(id.length - 1) - 1;
                if (prev <= 0) {
                    return;
                } else {
                    $("#" + id + "-tab").removeClass("bg-primary");
                    active.removeClass("show active");
                    $("#page" + prev).addClass("show active");
                    $("#page" + prev + "-tab").addClass("bg-primary");
                    return;
                }
            });
            $("li.next-page").click(function () {
                var active = $(".page-content .show");
                var id = active.attr("id");
                var next = +id.substring(id.length - 1) + 1;
                if (next > 4) {
                    return;
                } else {
                    $("#" + id + "-tab").removeClass("bg-primary");
                    active.removeClass("show active");
                    $("#page" + next).addClass("show active");
                    $("#page" + next + "-tab").addClass("bg-primary");
                    return;
                }
            });
            $('.nav-link.page-link').on('click', function (e) {
                $('.nav-link.page-link').removeClass("bg-primary");
                $(this).addClass("bg-primary");
            })
        })
    </script>
</body>

</html>